:root {
    --purple: #9c7fb9;
    --yellow: #f8c300;
    --pink: #e72168;
    --blue: #0482b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
} 